/*.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}*/

/* Drag e Drop system */
.drag-container,
.drop-container {
    width: 50%;
    background: #333;
    font-size: 0;
    text-align: center;
    float: left;
    color: #fff;
    height: 190px;
}
/*.drag,*/
.placeholder {
    font-size: 12px;
    width: 90%;
    height: 50px;
    line-height: 50px;
    background: #0074a2;
    margin: 10px auto;
}
/*.drop-container {
    background: #222;
}
.drop-container p {
    font-size: 18px;
    line-height: 190px;
}*/
.placeholder {
    background: none;
    border: 1px dotted #eee;
}
.lixeira {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 600px;
    display: none;
    background: rgba(255, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    line-height: 100%;
    text-align: center;
    font-family: aleo;
    font-size: 40px;
    font-weight: bold;
    /*justify-content: center;*/
    align-items: center;

    /*
    border: 2px dotted #999;
    margin: 20px 0;
    background: #ddd;
    text-align: center;
    line-height: 50px;
    color: #999;
    font-weight: 700;
    font-size: 18px;*/
}
.lixeira-ativa {
    border: 2px dotted red;
}

.lixeira-icon{
  color: white;
  width: 200px;
  height: 200px;
  font-size: 100px;
}
